@import url('https://fonts.googleapis.com/css?family=Open+Sans');
#chatBotCommandDescription {
  display: none;
  margin-bottom: 20px;
}

html {
  background-image: url("../background.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1000px) {
  html {
    background-image: url("../mobile.PNG");
  }
}

.origin {
  padding-right: 10px;
}

#chatbox {
  width: 50%;
  min-width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #E9EEF4;
}

.chat-container {
  height: 400px;
  overflow: auto;
  /* -webkit-transform: rotate(180deg);
          transform: rotate(180deg); */
  /* direction: rtl; */
}

#text-input {
  position: absolute;
  bottom: 0;
  height: 50px;
  border: 1px solid #D8DCE2;
  width: 100%;
  background-color: #ffffff;
}

#chat,
#chat:after,
.chatbox {
  transition: all .4s ease-in-out
}

#chat {
  line-height: 25px;
}

#close-chat,
.minim-button,
.maxi-button,
.chat-text {
  line-height: 45px;
}

#chat,
#close-chat,
.minim-button,
.maxi-button,
.chat-text {
  font-weight: 700;
  cursor: pointer;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 45px;
  color: #ffffff;
}

.close-chat {}

/*#chat,#close-chat,*/

.chatbox {}

/*#chat:after,#chat:before{
  position:absolute;
  border-style:solid;
  content:"";
}*/

.chatbox {
  position: fixed;
  bottom: 0;
  left: 50px;
  margin: 0 0 -1500px;
  border-bottom: none;
  padding: 28px 0 10px;
  z-index: 100000;
}

#close-chat {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 30px;
  width: 20px;
  z-index: 2;
}

#minim-chat,
#maxi-chat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  z-index: 1
}

.minim-button {
  position: absolute;
  right: 49px;
  font-size: 30px;
  width: 20px;
}

.maxi-button {
  position: absolute;
  top: 0px;
  right: 49px;
  font-size: 30px;
  width: 20px;
}

.chat-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  height: 45px;
  line-height: 45px;
}

.chat-text span {
  margin-left: 20px;
  font-size: 17px;
}

#chat {
  word-wrap: break-word;
  width: 100px;
  height: 75px;
  border-radius: 3px;
  /* padding: 2px 8px; */
  font-size: 12px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: fixed;
  right: 5em;
  bottom: 20em;
  color: rgb(51, 51, 51);
  /* background-color: #0084FF; */
}

@media screen and (max-width: 1000px) {
  #chat {
    right: 0;
    bottom: 10em;
    left: 5em;
  }
  #chatbox {
    width: 75%;
  }
}

#chat:before {
  border-width: 10px 11px 0 0;
  border-color: #A8A8A8 transparent transparent;
  bottom: -10px
}

#chat:after {
  border-width: 9px 8px 0 0;
  border-color: #fff transparent transparent;
  left: 8px;
  bottom: -8px;
}

#chat:hover {
  /*background:#ddd;*/
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate
}

#chat:hover:after {
  border-color: #ddd transparent transparent !important
}

.animated-chat {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in
}

.chat-text {
  width: 100%;
  text-align: left;
  background-color: #0084FF;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#chatbox1 {
  width: 100%;
  height: 570px;
  /*overflow: hidden;*/
  margin: auto;
  padding: 0;
}

#chatbox2 {
  width: 100%;
  height: 520px;
  margin: auto;
  padding: 0;
  border: 0;
}

#chatBotHistory {
  padding-left: 20px;
  padding-top: 20px;
  overflow-y: auto;
}

input {
  border: none;
  background: #ffffff;
  width: 80%;
  height: 100%;
  resize: none;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-left: 10px;
}

button {
  height: 50px;
  padding: 0;
  background-color: #ffffff;
  box-shadow: none;
  border: none;
  outline: none;
}

input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none;
}

input[type="button"]:focus {
  border: none;
  outline: none;
}

button i {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.right {
  float: right;
  margin-left: -10px;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1)
  }
  10%,
  20% {
    -webkit-transform: scale(.9)rotate(-3deg)
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1)rotate(3deg)
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1)rotate(-3deg)
  }
  100% {
    -webkit-transform: scale(1)rotate(0)
  }
}

@keyframes tada {
  0% {
    transform: scale(1)
  }
  10%,
  20% {
    transform: scale(.9)rotate(-3deg)
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1)rotate(3deg)
  }
  40%,
  60%,
  80% {
    transform: scale(1.1)rotate(-3deg)
  }
  100% {
    transform: scale(1)rotate(0)
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
}

.bot {
  /*border: 4px solid rgba(0, 132, 60, 0.2);*/
  background-color: rgba(177, 190, 115, 0.11);
  direction: ltr !important;
  padding: 10px;
  /* font-size: 75% */
}

.human {
  /*border: 4px solid rgba(38, 159, 202, 0.2);*/
  background-color: rgba(150, 202, 223, 0.11);
  direction: rtl !important;
  padding: 10px;
  /* font-size: 75% */
}